

<div class="jumbotron jumbotron-fluid"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="1px">
    <div class="container">
      <div class="row">
        <div class="col">
    
     <div fxFlex fxFlex.gt-sm="100%">

    <h1>Tashi Product</h1>
    <p>We take inspiration from the World's best product, and create a unique  experience. !</p>
  </div>
  <div class ="col-12">
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo2.png" alt="Logo">
  </div>
</div>
</div>
  <div fxFlex></div>