$lt-gray: #ddd;
$background-dark: rgba(45, 168, 55, 0.829);
$background-light: rgb(127, 205, 117);
$background-pale: rgb(196, 233, 204);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}